/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --nav: #343841;
  --search-box: #2e3140;
}
body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #161922;
}
body.dark {
    --search-box: #2e3140;
    --nav: #343841;
  --white-color: #1e2128;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--nav);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}
.navbar img {
  width: auto;
  height: 45px;
}
.profile{
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    object-fit: cover;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--search-box);
  color: var(--grey-color);
  /* border: 1px solid var(--grey-color-light); */
  border: none;
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

.navbar_content button{
    background-color: #fe8b01;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 90px 20px 80px 0px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "SPORTS";
}
.menu_editor::before {
  content: "Editor";
}
.menu_setting::before {
  content: "CASINO";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}

/* Content Box */

.content{
    margin-left: 261px;
    margin-top: 80px;
    width: (100% - 260px);
    height: auto;
}

@media (max-width: 768px){
    .content{
        width: 100%;
        margin-left: 0px;
    }
}

/* Game Boxes */

.boxesz{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
  flex-wrap: wrap;
}

.boxz{
  width: 16%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.boxz h2{
  color: white;
  font-size: 16px;
  text-align: center;
}

.boxz img{
  width: 150px;
  height: 150px;
}

@media (max-width: 768px){
  .boxesz{
      gap: 10px;
  }
  .boxz{
      width: 31%;
  }
}

.boxz1{
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}

.boxz2{
  background-color: #5b6467;
background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

.boxz3{
  background-color: #c62128;
  background-image: linear-gradient(147deg, #c62128 0%, #a00000 74%);
}

.boxz4{
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.boxz5{
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.boxz6{
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

/* Trending Game Boxes */

.boxes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    flex-wrap: wrap;
}

.box{
    width: 30%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 20px 20px;
}

@media (max-width: 768px){
    .boxes{
        gap: 10px;
    }
    .box{
        width: 90%;
    }
}

.box h1{
    color: white;
    font-size: 40px;
    line-height: 35px;
}

.box img{
    width: 260px;
    height: 260px;
}

.box1{
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.box2{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.box2 img{
    width: 270px;
    height: 260px;
}

.box3{
    background-color: #c62128;
    background-image: linear-gradient(147deg, #c62128 0%, #a00000 74%);
}

/* Games Section */

.games{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 30px;
}

@media (max-width:768px){
    .games{
        overflow-x: scroll;
    }
}

.game{
    padding: 10px 20px;
    background-color: #343841;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.game img{
    width: 25px;
    height: 25px;
}

.game p{
    color: white;
    white-space: nowrap;
}

/* Image Slider */

.slider {
    width: 100%;
    height: 280px;
    position: relative;
    display: block;
    margin: auto;
  }
  
  .slider div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .slide1 {
    background: url(https://cdn.cloudd.live/content/Banner/Casino1.webp?v=51)no-repeat
      center;
    background-size: cover;
    animation: fade 10s infinite;
    -webkit-animation: fade 10s infinite;
  }
  .slide2 {
    background: url(https://cdn.cloudd.live/content/Banner/Casino1.webp?v=51)no-repeat
      center;
    background-size: cover;
    animation: fade2 10s infinite;
    -webkit-animation: fade2 10s infinite;
  }
  .slide3 {
    background: url(https://cdn.cloudd.live/content/Banner/Casino1.webp?v=51)no-repeat
      center;
    background-size: cover;
    animation: fade3 10s infinite;
    -webkit-animation: fade3 10s infinite;
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    33.333% {
      opacity: 0;
    }
    66.666% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade2 {
    0% {
      opacity: 0;
    }
    33.333% {
      opacity: 1;
    }
    66.666% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade3 {
    0% {
      opacity: 0;
    }
    33.333% {
      opacity: 0;
    }
    66.666% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/* Table */

.table{
  width: 95%;
  height: auto;
  border: 2px solid #aaafb5;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
}

.table h2{
  color: white;
  font-size: 18px;
  background-color: #b5b326;
  padding: 10px 10px 10px 25px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
  clip-path: polygon(0px 0px,100% 0%,85% 100%,0% 100%);
}

.table h2 img{
  height: 25px;
  width: 25px;
}

.t-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-grow: 0;
  margin-left: 10px;
}

.blue{
  padding: 5px 15px;
  background-color: #4fa1dc;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px;
}

.pink{
  padding: 5px 15px;
  background-color: #f994ba;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px;
}

.blank{
  padding: 5px 15px;
  background-color: #2e3438;
  color: #aaafb5;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #aaafb5;
}

.table-content{
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #2e3438;
}

.tab-cont-1{
  width: 63%;
  height: 60px;
  color: #aaafb5;
  display: flex;
}

.tab-cont-2{
  width: 37%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.t-con-1{
  width: 15%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-con-1 p img{
  height: 20px;
  width: 20px;
}

.t-con-2{
  width: 8%;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.t-con-2 img{
  height: 20px;
  width: 20px;
}

.t-con-3{
  width: 70%;
  height: 60px;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.t-con-4{
  width: 7%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 769px){
  .table-content{
    flex-direction: column;
    height: auto;
    margin-top: 2px;
  }
  .tab-cont-1{
    width: 100%;
    height: 50px;
  }
  .tab-cont-2{
    width: 100%;
    height: 50px;
  }
  .t-con-3{
    font-size: 14px;
  }
  .t-con-2{
    display: none;
  }
  .t-con-1{
    width: 20%;
    font-size: 12px;
  }
  .t-con-4{
    white-space: nowrap;
    width: 18%;
    font-size: 12px;
  }
  .t-con-3{
    text-align: center;
  }
  .t-con-1 p img{
    height: 15px;
    width: 15px;
  }
  .blue{
    padding: 1px 10px;
  }
  .pink{
    padding: 1px 10px;
  }
  .blank{
    padding: 1px 10px;
  }
}

/* Footer */

.foot{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.foot img{
  width: 180px;
  height: auto;
}

.social{
  width: 250px;
  height: 40px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social img{
  width: 30px;
  height: 30px;
}

/* Gaming Partners */

.partners{
  width: 90%;
  height: 150px;
  border: 2px solid #aaafb5;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
}

.partners h2{
  color: white;
  font-size: 18px;
  background-color: #b5b326;
  padding: 5px 15px;
  text-align: center;
}

.partner-img{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 110px;
}

.partner-img img{
  width: 90px;
  height: auto;
}

/* Payment Section */

.payments{
    width: 90%;
    height: 120px;
    border: 2px solid #aaafb5;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    margin-top: 40px;
}

.payments h2{
  color: white;
  font-size: 18px;
  background-color: #b5b326;
  padding: 5px 15px;
  text-align: center;
}

.payment-img{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
}

.payment-img img{
  width: 90px;
  height: auto;
}

/* Copyright Section */

.copyright{
  width: 40%;
  height: 120px;
  border: 2px solid #aaafb5;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 20px;
}

.copyright p{
color: white;
font-size: 14px;
background-color: black;
padding: 5px 15px;
text-align: center;
}

.copyright-img{
display: flex;
align-items: center;
justify-content: space-evenly;
height: 80px;
}

.copyright-img img{
width: 90px;
height: auto;
}

.law{
  color: white;
  font-size: 14px;
  background-color: black;
  padding: 5px 15px;
  text-align: center;
}

/* Responsive Code */

@media (max-width: 500px){
  .slider{
    height: 100px;
  }
  .mob{
    display: none;
  }
  .navbar img{
    height: 37px;
  }
  .games{
    justify-content: space-between;
  }
  .box img{
    width: 180px;
    height: 180px;
  }
  .box2 img{
    width: 180px;
    height: 180px;
  }
  .boxz img{
    width: 80px;
    height: 80px;
  }
  .boxz{
    height: 140px;
  }
  .partner-img{
    justify-content: space-between;
    overflow-x: scroll;
    gap: 10px;
  }
  .payment-img{
    justify-content: space-between;
    overflow-x: scroll;
    gap: 10px;
  }
  .copyright{
    width: 90%;
  }
  .games{
    margin-top: 10px;
  }
  .boxesz{
    margin-top: 15px;
  }
}